@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

.pulse {
    border-radius: 999%;
    animation: pulse 1.5s infinite;
}